<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="HubbleLoggingTargetQueue" value="FormatName:DIRECT=OS:hubbleserver.ntdev.corp.microsoft.com\private$\hubblelogging" />
    <add key="HubbleLoggingSourceId" value="BEDE0C49-B532-4AF5-A2DB-B85ED270A146" />
  </appSettings>
</configuration>