<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="ResourceDBConnectionString" value="server=localhost;Integrated Security=SSPI;database=WindowsResource;Connect Timeout=150" />
        <add key="ResourceDBConnectionStringTemplate" value="server={Server};Integrated Security=SSPI;database={Database};Connect Timeout=150" />
        <add key="SystemName" value="Hubble" />
        <!-- if the AutoTranslationConfig.xml is not in the same directory as the RecyclingEngine, specify full path here. -->
        <add key="AutoTranslationConfigPath" value="AutoTranslationConfig.xml" />
    </appSettings>
</configuration>