<?xml version="1.0" encoding="utf-8"?>
<lbaConfig version="2.0" xmlns="http://msn.com/mlp">
  <customJobTypes>
    <jobType id="LcgBuildJobType" >
      <commandList>
        <command id="Bin2Lcg" 
                 plugin="Bin2Lcg" 
                 position="5"
                 executionLevel="Project"
                 parameterListId="Bin2LcgParameterList"
                 timeout="30"
              />
      </commandList>
    </jobType>
  </customJobTypes>
  <jobList>
    <job id="LcgBuild" jobType="LcgBuildJobType">
      <parameterList id="Bin2LcgParameterList">
        <parameter name="UseValidationForGeneration" value="true"/>
        <parameter name="SuppressWarnings" value="false"/>
      </parameterList>
    </job>
    <job id="Checkin" jobType="MlpCheckinLspkg" />
    <job id="CheckinLcl" jobType="CheckinLspkgLcl" />
    <job id="Handback" jobType="MlpHandbackLspkgEnv">
      <parameterList id="Lspkg2BinParameterList">
        <parameter name="HandleResxConversion" value="False" />
      </parameterList>
    </job>
    <job id="HandbackRemote1" jobType="MlpHandbackRemoteLspkg1Env">
      <parameterList id="Lspkg2BinParameterList">
        <parameter name="HandleResxConversion" value="False" />
      </parameterList>
    </job>
    <job id="HandbackRemote2" jobType="MlpHandbackRemoteLspkg2" />
    <job id="LocBuild" jobType="DailyBuildLocalizationCustomLspkgEnv">
      <parameterList id="Lspkg2BinParameterList">
        <parameter name="HandleResxConversion" value="False" />
        <parameter name="UseValidationForGeneration" value="true"/>
        <parameter name="SuppressWarnings" value="false"/>
        <parameter name="GenerationMode" value="Normal"/>
        <parameter name="GenerateTranslationFiles" value="true" />
        <parameter name="IgnoreUpdatedStringsForLoc" value="True" />
        <parameter name="PseudoLocMode" value="Mixed" />
      </parameterList>
      <parameterList id="PostBinActionParameterList">
        <parameter name="path" value="%LBA_SDPATH%\default\buildtools\DailyBuildPostBin.cmd"/>
        <parameter name="AllowMultithread" value="false"/>
      </parameterList>
    </job>
    <job id="Policheck" jobType="PolicheckLspkg" />
    <job id="PrepHandoff" jobType="MlpPrepHandoffLspkg">
      <parameterList id="CreateLspkgParameterList">
        <parameter name="HandleResxConversion" value="False" />
      </parameterList>
    </job>
    <job id="RegisterBuild" jobType="MlpRegisterBuildLspkg">
      <parameterList id="Bin2LcxParameterList">
        <parameter name="HandleResxConversion" value="False" />
      </parameterList>
    </job>
    <job id="ValidateLspkg" jobType="ValidateLspkg" />
  </jobList>
  <pluginPropertyList>
    <property id="SourceDepotLbaRoot">%LBA_SDPATH%</property>
    <property id="SourceControlLbaRoot">%LBA_SOURCECONTROLPATH%</property>
    <property id="FileExtensionParserAssignments">
      <assignment fileExtension="xml" parserId="210" />
      <assignment fileExtension="wxl" parserId="210" />
      <assignment fileExtension="mum" parserId="210" />
      <assignment fileExtension="psd1" parserId="303" />
    </property>
  </pluginPropertyList>
</lbaConfig>