<?xml version="1.0" encoding="utf-8" ?>
<configuration >
  <configSections>
    <section name="lba:lbaconfiguration" type="Microsoft.Msn.Mlp.LbaExeFile"/>
  </configSections>
  <lba:lbaconfiguration xmlns:lba="http://msn.com/mlp" version="2.0">
    <lba:pluginList>
      <lba:plugin type="Microsoft.Msn.Mlp.CopyLbaPlugin, CopyLba" />
      <lba:plugin type="Microsoft.Msn.Mlp.LSTaskPlugin, LSTask" />
      <lba:plugin type="Microsoft.Msn.Mlp.BuildEdbPlugin, BuildEdb" />
      <lba:plugin type="Microsoft.Msn.Mlp.Edb2BinPlugin, Edb2Bin" />
      <lba:plugin type="Microsoft.Msn.Mlp.Edb2LclPlugin, Edb2Lcl" />
      <lba:plugin type="Microsoft.Msn.Mlp.Bin2LcxPlugin, Bin2Lcx" />
      <lba:plugin type="Microsoft.Msn.Mlp.CustomScriptPlugin, CustomScript" />
      <lba:plugin type="Microsoft.Msn.Mlp.SourceDepotPlugin, SourceControl" friendlyName="SourceDepot" />
      <lba:plugin type="Microsoft.Msn.Mlp.ResourceWebServicePlugin, ResourceWebServicePlugin" friendlyName="ResourceWebService" />
      <lba:plugin type="Microsoft.Msn.Mlp.MlpWebServicePlugin, MlpWebService" />
      <lba:plugin type="Microsoft.Msn.Mlp.BuildZipPlugin, BuildZip" />
      <lba:plugin type="Microsoft.Msn.Mlp.ExtractZipPlugin, ExtractZip" />
      <lba:plugin type="Microsoft.Msn.Mlp.TestPlugin, TestPlugin" />
      <lba:plugin type="Microsoft.Msn.Mlp.PoliCheckPlugin, Policheck" />
      <lba:plugin type="Microsoft.Msn.Mlp.HeliumPlugin, Helium" />
      <lba:plugin type="Microsoft.Msn.Mlp.ResourceManagerPlugin, ResourceManager" />
      <lba:plugin type="Microsoft.Msn.Mlp.LspkgPlugin, Lspkg" />
      <lba:plugin type="Microsoft.Msn.Mlp.TFSPlugin, SourceControl" friendlyName="TFS"  />
      <lba:plugin type="Microsoft.Msn.Mlp.TokenizerPlugin, Tokenizer" />
      <lba:plugin type="Microsoft.Msn.Mlp.TranslationMemoryPlugin, TranslationMemory" />
      <lba:plugin type="Microsoft.Msn.Mlp.HubblePlugin, Hubble" />
    </lba:pluginList>
    <lba:webServiceList>
      <lba:webService id="MlpTransaction" location="http://samsnbldmlp07/MlpTransactionService/TransactionWebService.asmx" numberOfTries="10" retryInterval="30" />
      <lba:webService id="MlpBuild" location="http://samsnbldmlp07/MlpBuildService/BuildWebService.asmx" numberOfTries="10" retryInterval="30" />
      <lba:webService id="Resource" location="http://samsnbldmlp07/RscImportWebService/RscImportWebService.asmx" numberOfTries="10" retryInterval="30" />
      <lba:webService id="Hubble" location="http://hubble/2.1/webservices/commonservices.asmx" numberOfTries="10" retryInterval="30" />
    </lba:webServiceList>
    <lba:databaseList>
    </lba:databaseList>
    <lba:supportFileList>
    </lba:supportFileList>
    <lba:environmentVariableList>
      <lba:environmentVariable propertyName="BranchName" variableName="%BuildTracker.BuildJobQueue.1.Job.Branch.Name%" />
      <lba:environmentVariable propertyName="BranchId" variableName="%BuildTracker.BuildJobQueue.1.Job.Branch.Id%" />
      <lba:environmentVariable propertyName="ProductName" variableName="%BuildTracker.BuildJobQueue.1.Job.Product.Name%" />
      <lba:environmentVariable propertyName="ProductId" variableName="%BuildTracker.BuildJobQueue.1.Job.Product.Id%" />
      <lba:environmentVariable propertyName="BuildNumber" variableName="%BuildTracker.Build.Number%" />
      <lba:environmentVariable propertyName="TransactionId" variableName="%MLP_TRANSACTION_ID%" />
      <lba:environmentVariable propertyName="BuildSystemUrl" variableName="%BuildTracker.Web.Url%" />
      <lba:environmentVariable propertyName="BuildSystemVersion" variableName="%BuildTracker.Version%" />
      <lba:environmentVariable propertyName="BuildJobQueueId" variableName="%BuildTracker.JobQueue.Id%" />
    </lba:environmentVariableList>
    <lba:folderExclusionList>
      <lba:folder id="handoff.extra" />
      <lba:folder id="handback.extra" />
      <lba:folder id="buildtools" />
      <lba:folder id="buildfiles" />
      <lba:folder id="baseedb" />
      <lba:folder id="lcg" />
      <lba:folder id="lcg.prevbuild" />
      <lba:folder id="lcg.prevhandoff" />
      <lba:folder id="lci" />
      <lba:folder id="lce" />
      <lba:folder id="lcl" />
      <lba:folder id="lcm" />
      <lba:folder id="lct" />
      <lba:folder id="lsg" />
      <lba:folder id="lss" />
      <lba:folder id="locstudio.source" />
      <lba:folder id="locstudio.target" />
      <lba:folder id="msi.eula" />
      <lba:folder id="resx.comments" />
      <lba:folder id="miscfiles" />
      <lba:folder id="lss.pseudo" />
      <lba:folder id="locxml" />
      <lba:folder id="reg.loom" />
      <lba:folder id="zip.source" />
      <lba:folder id="zip.target" />
      <lba:folder id="policheck.result" />
      <lba:folder id="helium.source" />
      <lba:folder id="helium.target" />
      <lba:folder id="helium.working" />
      <lba:folder id="helium.support" />
      <lba:folder id="helium.newsource" />
      <lba:folder id="reports" />
      <lba:folder id="config.loom" />
      <lba:folder id="termchanges" />
      <lba:folder id="lsg.target" />
      <lba:folder id="buildstatistics" />
      <lba:folder id="locstatistics" />
      <lba:folder id="locstudio.reference" />
      <lba:folder id="locstudio.glossary" />
      <lba:folder id="skeleton" />
      <lba:folder id="AutoTranslate" />
      <lba:folder id="HandoffInfo" />
      <lba:folder id="xliff.config" />
      <lba:folder id="xliff.src.loc" />
      <lba:folder id="lba.src" />
      <lba:folder id="lba.src.loc" />
      <lba:folder id="lba.tgt" />
      <lba:folder id="tmx" />
      <lba:folder id="loc" />
      <lba:folder id="RecyclingEngineConfig" />
      <lba:folder id="xml.source" />
    </lba:folderExclusionList>
    <lba:executablePathList>
      <lba:executablePath id="lscmdEdb" fileName="lscmd.exe" path="*"  maxVersion="5.9.0.0">
        <lba:requiredFile fileName="TransPlatform.dll" minVersion="1.5.423.0" maxVersion="5.9.0.0"/>
        <lba:requiredFile fileName="Microsoft.LocVer.Rules.dll" minVersion="2.0.2245.27192" maxVersion="5.9.0.0"/>
        <lba:requiredFile fileName="Lsutils.dll" minVersion="1.5.423.0" maxVersion="5.9.0.0"/>
        <lba:requiredFile fileName="ImportComments.dll" minVersion="1.5.423.0" maxVersion="5.9.0.0"/>
        <lba:requiredFile fileName="Esputil.dll" minVersion="4.80.423.0" maxVersion="5.9.0.0"/>
        <lba:requiredFile fileName="MUISubParser.dll" minVersion="4.80.423.0" maxVersion="5.9.0.0"/>
        <lba:requiredFile fileName="Espprj.pkg" minVersion="4.80.423.0" maxVersion="5.9.0.0"/>
      </lba:executablePath>
      <lba:executablePath id="lsbuildEdb" fileName="lsbuild.exe" path="%extpath%\lsbuild" minVersion="1.5.1015.0">
        <lba:requiredFile fileName="lsbuild.exe.local"/>
        <lba:requiredFile fileName="ostrman.exe.local"/>
        <lba:requiredFile fileName="TransPlatform.dll" minVersion="1.5.1015.0"/>
        <lba:requiredFile fileName="Microsoft.LocVer.Rules.dll" minVersion="2.0.2418.20591"/>
        <lba:requiredFile fileName="Lsutils.dll" minVersion="1.5.1118.0"/>
        <lba:requiredFile fileName="Esputil.dll" minVersion="4.80.1015.0"/>
        <lba:requiredFile fileName="MUISubParser.dll" minVersion="4.80.1015.0"/>
      </lba:executablePath>
      <lba:executablePath id="lsbuildLspkg" fileName="lsbuild.exe" path="%extpath%\lsbuild\6.12" minVersion="6.11.2218.0">
        <lba:requiredFile fileName="lsbuild.exe.local"/>
        <lba:requiredFile fileName="ostrman.exe.local"/>
        <lba:requiredFile fileName="TransPlatform.dll" minVersion="6.11.2218.0"/>
        <lba:requiredFile fileName="Microsoft.LocVer.Rules.dll" minVersion="6.11.2218.0"/>
        <lba:requiredFile fileName="Lsutils.dll" minVersion="6.11.2218.0"/>
        <lba:requiredFile fileName="Esputil.dll" minVersion="6.11.2218.0"/>
        <lba:requiredFile fileName="MUISubParser.dll" minVersion="6.11.2218.0"/>
        <lba:requiredFile fileName="edb.sys" />
      </lba:executablePath>
      <lba:executablePath id="locapply" fileName="locapply.exe" path="%extpath%\locapply\x86" />
      <lba:executablePath id="lcxutil" fileName="lcxutil.exe" path="%extpath%\lsbuild\6.12" />
      <lba:executablePath id="winlcxupd" fileName="winlcxupd.exe" path="%extpath%\lba\WinLcxUpdate" />
      <lba:executablePath id="zip32" fileName="zip32.exe" path="%extpath%\tools\x86" />
      <lba:executablePath id="unzip32" fileName="unzip32.exe" path="%extpath%\tools\x86" />
      <lba:executablePath id="policheck" fileName="policheck.exe" path="*" />
      <lba:executablePath id="robocopy" fileName="robocopy.exe" path="%extpath%\tools\x86" />
      <lba:executablePath id="sd" fileName="sd.exe" path="%extpath%\tools\x86" />
      <lba:executablePath id="tf" fileName="tf.exe" path="%extpath%\teamfoundation\8.0.50727\x86" />
      <lba:executablePath id="bindiff" fileName="bindiff.exe" path="%extpath%\tools\x86" />
      <lba:executablePath id="windiff" fileName="windiff.exe" path="%extpath%\tools\x86" />
    </lba:executablePathList>
    <lba:lspkgNamespaceList>
      <lba:lspkgNamespace namespaceName="Lcx" namespaceValue="http://schemas.microsoft.com/locstudio/2006/6/lcx" />
      <lba:lspkgNamespace namespaceName="LsPackage" namespaceValue="http://schemas.microsoft.com/locstudio/2006/6/lspackage" />
      <lba:lspkgNamespace namespaceName="LocProject" namespaceValue="http://schemas.microsoft.com/locstudio/2006/6/LocProject"/>
      <lba:lspkgNamespace namespaceName="LocConfig" namespaceValue="http://schemas.microsoft.com/locstudio/2006/6/LocConfig"/>
      <lba:lspkgNamespace namespaceName="Macro" namespaceValue="http://schemas.microsoft.com/locstudio/locstudio/2006/10/macros"/>
    </lba:lspkgNamespaceList>
  </lba:lbaconfiguration>
</configuration>