<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="BTInstances" type="BuildTrackerSDKHelper.BTInstancesConfigSection, BuildTrackerSDKHelper" requirePermission="false" />
  </configSections>
  <BTInstances>
    <BTInstance>
      <add instanceURL="http://buildlab/BuildTracker" sdkURL="net.tcp://BUILDLABAPI:9700/BuildTrackerApi" isDefault="true"/>
    </BTInstance>
  </BTInstances>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <appSettings> 
    <!-- Please do not update the following BuildTracker values.-->
    <add key ="JobRunnerUserName" value="redmond\mlprun1"/>
    <add key ="BuildDropPolicyName" value="Run job %Name% after build drops"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key ="BTConfigFilesFolderPath" value="\\msn\builds\lba\OnboardingBTJobTemplates"/>
    <add key ="BuildJobDefaultSettingsFileName" value="ConfigureBranchForMLP.xml"/>
    <add key ="DropJobDefaultSettingsFileName" value="ConfigureBuildShareGroupForMLP.xml"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>